@model SuaveKeys.Core.Models.Transfer.Authentication.AuthCodeRequest

@{
    ViewData["Title"] = "Sign In";
}

<div class="text-center">
    <h1 class="display-4">Sign In to Suave Keys</h1>
    <form method="post">
        <input name="Challenge" value="@Model.Challenge" type="hidden" />
        <input name="State" value="@Model.State" type="hidden" />
        <input name="ClientId" value="@Model.ClientId" type="hidden" />
        <input name="GrantType" value="@Model.GrantType" type="hidden" />
        <input name="RedirectUri" value="@Model.RedirectUri" type="hidden" />
        <input name="ChallengeMethod" value="@Model.ChallengeMethod" type="hidden" />
        <input name="Origin" value="@Model.Origin" type="hidden"/>
        <input name="Username" type="text"/>
        <input name="Password" type="password"/>
        <button type="submit">Sign in</button>
    </form>
</div>
